<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/cat-breeds.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>All about cats</title>
  </head>
  <body background = "icon/wallpaper1.jpg" style="background-repeat: repeat;" >
    <header class="site-header-main">
      <div class="menu_icon">
  			<img class="header_icon" src=" icon/menu_icon1.jpg">
  		</div>
  		<div class="menu_items">
        <li class="icon-logotip"><a href="about-cat.html"><img class="cat" src=" icon/cat.png"  height = "55">About cats</a></li>
        <ul>
  				<li><a class="item1" href="cat-breeds.html">Cat breeds</a></li>
  				<li><a class="item2" href="pictures-cats.html">Pictures</a></li>
  				<li><a class="item3" href="vote-page.html">Voting</a></li>
  			</ul>
  		</div>
  	</header>
  	<div class="breadcrumbs">
  		<a href="about-cat.html" title="Home"><img class="path" src="icon/home.png" width = "20" height = "20"></a>
  		<img class="arrow" src="icon/arrow.jpg" width = "15" height = "15">
  		<span class="article">Cat breeds</span>
  	</div>
    <div class="wrapper">
      <div id="app">
        <v-app>
          <v-content>
            <v-container>
              <v-layout align-center justify-center>
                <v-flex xs6>
                  <v-select :items="breeds"
                          item-text="name"
                          v-model="selected_breed"
                          label="Breeds"
                          return-object
                          attach></v-select>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12 sm8 offset-sm2>
                  <v-card>
                    <v-carousel>
                      <v-carousel-item v-for="(item,i) in images"
                                      :key="i"
                                      :src="item.url"></v-carousel-item>
                    </v-carousel>
                    <v-card-title primary-title>
                    <div class="text-xs-center">
                      <v-chip>
                        <v-avatar>
                          <img :src="country_flag_url" :alt="selected_breed.country_code">
                        </v-avatar>
                      {{selected_breed.origin}}</v-chip>
                      <v-chip v-if="selected_breed.experimental==1">Experimental</v-chip>
                      <v-chip v-if="selected_breed.rex==1">Rex</v-chip>
                      <v-chip v-if="selected_breed.natural==1">Natural</v-chip>
                      <v-chip v-if="selected_breed.rare==1">Rare</v-chip>
                      <v-chip v-if="selected_breed.hairless==1">Hairless</v-chip>
                      <v-chip v-if="selected_breed.suppressed_tail==1">Suppressed Tail</v-chip>
                      <v-chip v-if="selected_breed.short_legs==1">Short Legs</v-chip>
                      <v-chip v-if="selected_breed.hypoallergenic==1">Hypoallergenic</v-chip>
                      <div>
                        <h3 class="headline mb-0">{{selected_breed.name}}</h3>
                        <div>{{selected_breed.description}}</div>
                        <div>---</div>
                        <div><i>{{selected_breed.temperament}}</i></div>
                      </div>       
                      <v-card-actions>
                        <v-btn :href="selected_breed.wikipedia_url" target="_blank" flat color="orange">Wikipedia</v-btn>
                      </v-card-actions>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-content>
        </v-app>
      </div>
      <script src="js/cat-breeds.js"></script>
    </div>
  	<div id="footer">
      <p>Tishalovich Alexey &copy; 2019 AboutCats.ru</p>
    </div>
  </body>
</html>